/* importing index.css for root or variable use */
@import url('./index.css');


header{
    background: var(--surface-white);
    color : var(--primary-saffron);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    left : 0;
    right: 0;
    top : 0;
    height: 40px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap : 20px;
}

header nav li a{
    text-decoration: none;
    color : inherit;
    font-size: 1.2rem;
}

header .logo{
    font-size: 1.4rem;
    font-family: var(--font-headers);
}